body{
    background-color: gray;
}

h1{
    font-family: 'Times New Roman';
    font-size: 25px;
    color: blue;
    align-content: right;
}

p{
    font-family: verdana;
    font-size: 15px;
    color: purple;
}

